body,
html,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.el-step__title {
    font-size: 13px;
}

.el-tag {
    margin-right: 5px;
}

.ql-editor {
    min-height: 400px;
}

.el-pagination {
    text-align: right;
    margin-top: 15px;
}